:root{
    --indexColor: #FF6096;
    --textColor: #4d4d4d;
    --indexColor_2: #FEE6F1;
    --indexFont: 'Noto Sans TC';
}
body,div,span,h1,h2,h3,h4,h5,h6,p,li,a{
    font-family: var(--indexFont);
    color: var(--textColor);
}
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    // height: initial;
}
body{
    width: 100%;
    overflow-x: hidden;
}

.smallPageCon{
    width: 70%;
    max-width: 1280px;
    margin: 0 auto;
}

.bgColor{
    background-color: var(--indexColor);
}
.pageIn{
    padding: 0;
    position: relative;
    z-index: 1;
}
.index_title{
    font-size: 35px;
    color: var(--textColor);
    text-align: center;
    position: relative;
    display: inline-block;
    &::after{
        content: '';
        position: absolute;
        z-index: -1;
        width: calc(100% + 20px);
        height: 50%;
        border-radius: 2px;
        background: var(--indexColor_2);
        left: -10px;
        bottom: 0;
    }
}
@media (min-width: 768px) and (max-width: 1920px) {
    .index_title{
        font-size: 1.8229vw;
        &::after{
            width: calc(100% + 1.0417vw);
            left: -0.5208vw;
        }
    }
}

@media screen and (max-width: 768px) {
    .smallPageCon{
        width: 100%;
    } 
    .index_title{
        font-size: 19px;
    }
}